@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://evilmartians.com/chronicles/the-joy-of-variable-fonts-getting-started-on-the-frontend */
  @font-face {
    font-family: 'Karla Variable';
    src:
      url('@/assets/fonts/Karla-VariableFont_wght.woff2') format('woff2'),
      url('@/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
    font-variation-settings: 'wght' 400;
  }
  @font-face {
    font-family: 'Karla Variable';
    src:
      url('@/assets/fonts/Karla-Italic-VariableFont_wght.woff2') format('woff2'),
      url('@/assets/fonts/Karla-Italic-VariableFont_wght.ttf')
        format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: italic;
    font-variation-settings: 'wght' 400;
  }
  @font-face {
    font-family: 'Karla';
    src:
      url('@/assets/fonts/Karla-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Karla';
    src:
      url('@/assets/fonts/Karla-Italic.woff2') format('woff2'),
      url('@/assets/fonts/Karla-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Karla';
    src:
      url('@/assets/fonts/Karla-Medium.woff2') format('woff2'),
      url('@/assets/fonts/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Karla';
    src:
      url('@/assets/fonts/Karla-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Karla';
    src:
      url('@/assets/fonts/Karla-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  body {
    line-height: 1.35;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Karla', sans-serif;

    @supports (font-variation-settings: normal) {
      font-family: 'Karla Variable';
    }
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-[32px] font-bold leading-9;
  }

  h3 {
    @apply text-[28px] font-bold leading-9;
  }

  h4 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply hover:bg-orange500 bg-orange400 inline-flex h-10 items-center rounded-3xl px-5 leading-none text-white;
  }

  .btn-secondary {
    @apply hover:text-orange500 text-orange400 border-orange400 hover:border-orange500 inline-flex h-10 items-center rounded-3xl border bg-white px-5 leading-none;
  }

  .btn-tertiary,
  .text-link {
    @apply text-orange400 hover:text-orange500 underline underline-offset-4;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-screen-xl px-4;
  }

  .radial-gradient {
    background: radial-gradient(
      ellipse farthest-corner at 100% 0,
      white,
      #ffe1d6 60%,
      #ff7f50 90%,
      #ff4b0a
    );
  }
}
